/********General Styling******* */
html {
  box-sizing: border-box; }

.container {
  width: 180px;
  height: 272px;
  margin: 0 auto; }

.container div {
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  box-sizing: border-box; }

.screen {
  width: 180px; }

.small {
  width: 45px; }

.medium {
  width: 90px; }

.large {
  width: 135px; }

/********Colours********* */
.num, #decimalp, #clear {
  background-color: #E0E0E0; }

.operator, .equals {
  background-color: #F59138; }

.screen {
  background-color: #C2C2C2; }

/********Border Styling******* */
.screen {
  border-top: 1px solid black; }

.small, .medium, .large, .screen {
  border-right: 1px solid black; }

.medium, .large, #n1, #n4, #n7, .screen {
  border-left: 1px solid black; }

.small, .medium, .large, .screen {
  border-bottom: 1px solid black; }
